<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vladnamik.developer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vladnamik.developer.activities.DiaryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vladnamik.developer.activities.MyMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vladnamik.developer.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vladnamik.developer.activities.DishActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vladnamik.developer.activities.ExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vladnamik.developer.activities.StatisticActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.vladnamik.developer.activities.ExerciseEditorActivity" >
        </activity>
        <activity android:name="com.vladnamik.developer.activities.DishesEditorActivity" >
        </activity>
        <activity android:name="com.vladnamik.developer.activities.PickDishActivity" >
        </activity>
        <activity android:name="com.vladnamik.developer.activities.PickExerciseActivity" >
        </activity>
    </application>

</manifest>
